// К О Л Ь О Р И

$bg-color-body: #e5e5e5;

$primary-text-color: #212353;
$primary-white-color: #ffffff;

$color-paragaf: #afafbd;
$actent-color: #000000;

$bg-container: #3664D8;
$blue-title-color:#fbfbfb;
$box-title-color: #12121F;

$secondary-procent:#fe805c;
$first-procent:#4643d3;
