.footer-title,
.footer-text {
  position: absolute;
  height: 50px;
  left: 600px;
  top: 1731px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #212353;
}

.footer-text {
  font-weight: 400;
  padding: 34px 0;
  top: 1750px;
  left: 650px;
}
